<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/pur.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="roof">
        <img src="./img/top.JPG" alt="">
    </div>


    <div>
        <div>
            <p class="pp2"> Zobraziť objednávky</p>
            <div class="section">
                
                <div class="kolch">
                    <form  action="">
                        <div class="pack1">
                            
                            
                        </div>
           
                        <img src="./img/conton.JPG" alt="">
                        <button class="btn1"  id="barinxri" type="button">Prejsť na platbu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div>
        <div class="boot">
            <img src="./img/bot.JPG" alt="">
        </div>
    </div>
    
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>